<% provide(:title, "About") %>
<div class="about_page">
<h1>About</h1>
<p>
  <a href="https://336e017dd6bd4456a1e97e9a649459f8.vfs.cloud9.ap-northeast-1.amazonaws.com/static_pages/home">Lodgers stay</a>
  is a reproduction of <a href="https://www.chillnn.com/curation">CHILLNN</a> and you can search and match with some hostel which has your preferences.
</p>
<p>
  This is the <a href="https://backpackersjapan.co.jp/company/hostels">hostel list</a> that we'd like to recommend you at first.    
</p>
</div>