<% provide(:title, "Concept") %>

<div class="concept_page">
 <div class="Concept">
    <h1>Concept</h1>
    <div class="word">
        <h2>〜旅行者〜</h2>
        <p>”どこに旅行するかは決まったけど、宿泊先はどこにしよう、、？まあ予約サイトから地名で検索して、良さげなところにしよう。”</p>
        <p>”有名で評価の高いホテルか旅館が無難だよね。良さげな宿泊施設をお気に入りして一覧で見れる、宿泊施設専用アプリがあると便利だよね！”</p>
        <h2>〜宿泊施設〜</h2>
        <p>”予約サイト経由の予約ばかり、、手数料が取られて売上が伸びないなあ。知名度を上げて、公式HPを見て直接予約してくれるゲストを増やしたい！””</p>
        <p>”ホステルでもカップル・グループ向けの部屋があることをもっと広めたいなあ。”</p>
    </div>
    <div class="intro">
        <p>そんな両者の需要を満たすことができたら、、を実現した、ある種ユーザーと宿泊施設のマッチング要素を含んだWebアプリです。</p>
        <p>テーマは<span class="theme">"Lodge=宿"</span>。ホテルだけではない、多様な<span class="theme">"Lodge"</span>を紹介していきます。</p>
        <p>SNSの普及により、多くの宿泊施設がInstagramやTwitterを駆使して内部の画像やイベント情報を発信したりと、身近になってきています。</p>
        <p>しかし、依然として旅行者は予約サイト経由で検索~予約までを一貫して行い、宿泊施設選びを楽しんでいないのではないかと思います。</p>
        <p>そこでこのWebアプリを通じてその楽しさを知り、行きたい宿泊施設があるから旅行先を決める、といった旅行の選び方が多様化することを望んでいます。</p>
    </div>
    <div class="intro2">
        <p>ー掲載基準は製作者の選択が大半となりますが、Booking.comのクチコミが8.2以上*<span class="caution">製作時点</span> を大まかな基準としています(一部例外あり)ー</p>
        <p>ーターゲットを旅行者に置いているため、ビジネスホテル・外資系高級ホテルは掲載していません(一部例外あり)ー</p>
    </div>
 </div>
</div>