<body class="K5"></body>
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<h2 class="contact-font">
  Contact the Lodgers stay App at the
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSds8m1wkIrHtws0m3Ylm3UQ2LPY_MHMDs9A-ry5dIxSAMLF4A/viewform"><span>contact page</span></a>.
</h2>