<% provide(:title, "Home") %>
<h1>Matching Hotels</h1>
<p>
    This is the home page for the
    <a href="https://336e017dd6bd4456a1e97e9a649459f8.vfs.cloud9.ap-northeast-1.amazonaws.com/static_pages/home">Mathing Hotels</a>
    sample application.
</p>
  