<body>
<h1 class="title">What type of Lodge would you like to stay??</h1>
<%= link_to image_tag("dorm.jpg", alt: "Hostel logo", class: "hostel_logo"), hostel_path%>

<%= link_to image_tag("world.jpg", alt: "world map", class: "world_logo"), world_path%>

<%= link_to image_tag("hotel.jpg", alt: "Hotel logo", class: "hotel_logo"), hotel_path%>
</body>

  