<div class="center jumbotron">
<h1>Welcome to Lodgers stay App</h1>
<h2>
    This is the home page for the
    <a href="https://336e017dd6bd4456a1e97e9a649459f8.vfs.cloud9.ap-northeast-1.amazonaws.com/static_pages/home">Lodgers stay</a>
    sample application.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("dorm.jpg", alt: "Hostel logo"), hostel_path%>

<%= link_to image_tag("world.jpg", alt: "world map", class: "world"), world_path%>

<%= link_to image_tag("hotel.jpg", alt: "Hotel logo"), hotel_path%>


  