<body>
<h1 class="title">What type of Lodge would you like to stay??</h1>
<%= link_to image_tag("dorm.jpg", alt: "Hostel logo"), hostel_path%>

<%= link_to image_tag("world.jpg", alt: "world map", class: "world"), world_path%>

<%= link_to image_tag("hotel.jpg", alt: "Hotel logo"), hotel_path%>
</body>

  