<% provide(:title, "Hotel") %>
<h1>Hotel</h1>
<p class="area_name">北海道</p>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://nukabira-nakamuraya.com/index.html">1.糖平温泉 中村屋 </a></p>
    <div class="image_list">
    <%=link_to image_tag("中村屋 main.jpg", alt:"中村屋_image", class:"hostel_image")%>
    <%=link_to image_tag("中村屋 bath.jpg", alt:"中村屋_image", class:"hostel_image")%>
    <%=link_to image_tag("中村屋 room.jpg", alt:"中村屋_image", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li>〒080-1403</li>
    <li>北海道河東郡上士幌町字ぬかびら源泉郷南区　MAP：<a href="https://goo.gl/maps/pQLwyBojbUnuk79w8">Google map</a></li>
    <li>TEL 01564-4-2311 </li>
    <li>Room type: Twin room, Double room</li>
</ul>