<% provide(:title, "World Hotel") %>
<h1>World</h1>
<p class="area_name">ドイツ</p>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.st-christophers.co.uk/berlin/alexanderplatz-hostel">1. St Christopher's Inn Berlin Alexanderplatz</a></p>
    <div class="image_list">
    <%=link_to image_tag("St Christ main.png", alt:"hotel_image", class:"hostel_image")%>
    <%=link_to image_tag("St Christ food.jpg", alt:"hotel_image", class:"hostel_image")%>
    <%=link_to image_tag("St Christ room.jpg", alt:"hotel_image", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li>Rosa-Luxemburg-Straße 41, 10178 Berlin, Germany　MAP：<a href="https://goo.gl/maps/g6Hqvct2CuoBjodE6">Google map</a></li>
    <li>Room type: Mix dormitory, Female dormitory, Single room, Twin room, Double room</li>
    <li>Facilities: Restaurant, bar, shared rounge, lift, etc</li>
</ul>