<div class="topic-index-wrapper">
    <div class="container">
        <% @lodges.each do |lodge| %>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="lodge-index-single">
                        <h2 class="lodge-place">
                            <%= lodge.user.name %>
                        </h2>
                            <%= image_tag lodge.image.url%>
                            <% if !lodge.like_users.include?(current_user)%>
                                <%= link_to likes_path(lodge_id: lodge.id), method: :post do %>
                                    <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
                                <% end %>
                            <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
                    
                                