@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


ul{
  list-style: none;
}
/* universal */

.container{
   width: auto;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 15px;
  line-height: 1.7em;
}


/* header */

#logo {
  font-family: 'Courgette', cursive;
  float: left;
  margin-right: 10px;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #978029;
    text-decoration: none;
  }
}
nav{
  font-family: 'Courgette', cursive;
  font-size: 20px;
}



/* footer */

.footer1 {
  margin-top: 100px;
  padding-top: 5px;
  
  /*border-top: 1px solid $gray-medium-light;*/
  color: $gray-light;
  text-align: center;
  
  small{
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }
}

/*home画面*/
.footer2{
  margin-top: 0px;
  margin-bottom: 100px;
  padding-top: 5px;
  /*border-top: 1px solid $gray-medium-light;*/
  color: $gray-light;
  text-align: center;
  
  small{
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }
}



/*home*/

.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 1430px;
  height     : 780px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
  opacity    : 1;
}
 
 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 15s ease infinite;
}

.slide p {
  display    : inline-block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 15s ease infinite;
}


 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 3s }
.slide img:nth-of-type(3) { animation-delay: 6s }
.slide img:nth-of-type(4) { animation-delay: 9s }
.slide img:nth-of-type(5) { animation-delay: 12s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
   2% { opacity: 1 }
  18% { opacity: 1 }
  20% { opacity: 0 }
 100% { opacity: 0 }
}

.scrollBar{
  display: inline-block;
  position: absolute;
  right: 700px;
  bottom: 0;
  z-index: 2;
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  font-weight: bold;
}
.scrollBar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #fff;
  animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  35% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  35.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  70%, 100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/*conceptページが可視化したら入る動き*/
.fade_off {
    opacity: 0;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -o-transition: all 5s;
    -ms-transition: all 5s;
    transition: all 1s;
}

.fade_on {
    opacity: 1;
    transition: all 4s;
}

.Concept{
  margin-top: 60px;
  text-align: center;
}
.Concept h1{
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: black;
}
.word h2{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.word p{
  color: $gray-light;
  font-size: 13px;
}
.intro p{
  font-size: 15px;
  margin-top: 30px;
  line-height: 10px;
  letter-spacing: 1px;
  color: black;
}
.theme{
  font-weight: bold;
  color: #978029;
}

.intro2{
  margin-top: 30px;
  color: black;
}
.intro2 p{
  font-size: 12px;
}
.caution{
  font-size: 6px;
}
.intro3 p{
  font-size: 20px;
  margin-top: 40px;
  color: black;
  font-family: "Libre Baskerville";
  font-weight: bold;
}

.sign_up{
  margin-top: 60px;
  text-align: center;
}
.sign_up h1{
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: black;
}
.word2 h2{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.word2 p{
  font-size: 16px;
  margin-top: 30px;
  line-height: 10px;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  padding-right: 20px;
  font-weight: bold;
}
.word2 p.detail{
  font-size: 12px;
  margin-top: 18px;
  font-weight: normal;
}
.word2 p.detail2{
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 50px;
}
.login_causion{
  margin-top: 50px;
  color: red;
}
.form_detail{
  margin-top: 60px;
}
.book_form{
  font-size: 18px;
}



.hidden_box {
    margin-top: 20px;
    text-align: center;
    
}

/*ボタン装飾*/
.hidden_box label {
  
    padding: 15px 50px 15px 50px;
    font-weight: bold;
    cursor : pointer;
    color: white;
    background-color: #800000;
    box-shadow: 4px 4px #555;
    border-radius: 10px;
    text-shadow: -1px -1px #555;
    
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background-color: #008080;
    color: black;
}

/*ボタンクリック時*/
.hidden_box label:active{
	 box-shadow:none;
	 position:relative;
	 top:7px;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
.hidden_show{
  height: 0px;
}

.fa-route{
  padding-right: 5px;
}

.title{
  font-size: 55px;
  font-family:'Londrina Shadow', cursive;
  margin-top: 50px;
}
.blink{
  animation-name :sampleAnime;
  display: inline-block;
  color:#978029;
  animation: sampleAnime 2s infinite alternate;
}
@keyframes sampleAnime{
  80% { 
    transform: rotateX(360deg); 
    color: #339999;
  }
  100% { 
    transform: rotateX(360deg); 
    color:  #657739;
  }
}

/*conceptページ*/
.concept_page{
  margin-top: 200px;
  text-align: center;
}
.sign_up_page{
  margin-top: 200px;
  text-align: center;
}
.sign_up_main{
  background-image: url("本箱.lobby.jpg");
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
  height: 800px;
}
.about_page{
  margin-top: 200px;
  text-align: center;
}

.setting_page{
  margin-top: 200px;
  text-align: center;
}
.setting_main{
  background-image: url("とりい.lobby.jpg");
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
  height: 800px;
}
.login_page{
  margin-top: 200px;
  text-align: center;
}
.login_main{
  background-image: url("水田.main.jpg");
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
  height: 800px;
}
.like_page{
  padding-right: 300px;
}




/*ホームのLodge一覧*/

/*hostelページ*/
.hostel_logo{
	 box-shadow: none;
	 position: absolute; top: 2800px; left: 0px;
	 width: 720px;
   height: 380px;
}

.hostel_type{
   position: absolute; top: 2800px; right: 0px;
	 width: 720px;
   height: 380px;
   background-color: #B8860B;
    text-align: center;
}
.hostel_type h2{
   position: relative; top: 0px; right: 0px;
   color: white;
   list-style: none;
   font-size: 20px;
   line-height: 0px;
   margin-top: 40px;
   font-size: 30px;
   font-family: "Bana Chips";
   letter-spacing: 5px;
    text-align: center;
}

.hostel_explain{
  width: 650px;
  text-align: left;
  padding-left: 100px;
  color: white;
}

/*hotelページ*/
.hotel_logo{
	 box-shadow: none;
	 position: absolute; top: 380px; right: 0px;
	 width: 720px;
   height: 380px;
}
.hotel_type{
   position: absolute; top: 380px; right: 720px;
	 width: 720px;
   height: 380px;
   background-color: #339999;
   text-align: center;
}
.hotel_type h2{
   position: relative; top: 0px; right: 0px;
   color: white;
   list-style: none;
   font-size: 20px;
   line-height: 0px;
   margin-top: 40px;
   font-size: 30px;
   font-family: "Bana Chips";
   letter-spacing: 5px;
   text-align: center;
}

.hotel_explain{
  width: 650px;
  text-align: left;
  padding-left: 100px;
  color: white;
}

/*ryokanページ*/
.ryokan_logo{
	 box-shadow: none;
	 position: absolute; top: 740px; right: 720px;
	 width: 720px;
   height: 380px;
}
.ryokan_type{
   position: absolute; top: 740px; left: 0px;
	 width: 720px;
   height: 380px;
   background-color: #657739;
   text-align: center;
}
.ryokan_type h2{
   position: relative; top: 0px; right: 0px;
   color: white;
   list-style: none;
   font-size: 20px;
   line-height: 0px;
   margin-top: 40px;
   font-size: 30px;
   font-family: "Bana Chips";
   letter-spacing: 5px;
   text-align: center;
}

.ryokan_explain{
  width: 650px;
  text-align: left;
  padding-left: 100px;
  color: white;
}

.checkin label {
    padding: 15px 120px 15px 120px;
    font-weight: bold;
    cursor :pointer;
    background-color: #EEEEEE;
    color: black;
    text-shadow: none;
}
.checkin label:hover{
    background-color: #EEEEEE;
}
.click{
  color: black;
  padding-left: 10px;
}

.New_listing{
  margin-top: 1300px;
}
.New_listing h1{
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: black;
}
.Impression{
  margin-top: 500px;
  margin-bottom: 10px;
}
.Impression h1{
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: black;
}
.Impression p{
  line-height: 10px;
}
.contact{
  margin-top: 100px;
}
.mail{
  margin-top: 10px;
  font-family: "Prophet", Helvetica, Arial, sans-serif;
  font-size: 2.0rem;
}
.mail:hover{
  opacity: 0.5;
  touch-action: manipulation;
}







.icon_form_2{
  font-size: 10px;
  display: inline-block;
  width: auto;
  padding: 8px 15px 8px 15px;
  font-family: "Lato","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: bold;
  background-color:#978029;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  text-align: center;
  color:white;
  border: 0px solid #978029;
  transition: all 0.2s ease;
  
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*hostel page*/
.top_name{
  font-size: 45px;
  color: #353535;
  font-family: "Cormorant Garamond", serif;
  
}
.top_name:hover{
  color: #978029;  
}
.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  padding-right: 160px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-3 {
  width: 220px;
  height: 150px;
  line-height: 42px;
  padding-top: 20px;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 65px;
  padding-left: 16px;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}


/*hostel,hotelのロゴの四角アニメーション*/
.btn-4 {
  width: 220px;
  height: 100px;
  line-height: 42px;
  padding-top: 20px;
  border: none;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 65px;
  padding-left: 16px;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: 2px;
}
.btn-4:after {
  width: 0%;
  height: 2px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: 2px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}





.area_name{
  font-size:35px;
  margin-top:40px;
}
.hotel_name{
  font-size:28px;
  text-align: center;
  font-family: "OptimaLTPro-Bold";
  font-weight: bold;
  letter-spacing: 0.07em;
  padding-right: 150px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.hotel_name:before,
.hotel_name:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #978029;
}

.hotel_name:before {
    margin-right: 1rem;
    background: linear-gradient(-90deg, #978029, transparent);
}

.hotel_name:after {
    margin-left: 1rem;
    background: linear-gradient(90deg, #978029, transparent);
}



.image_list{
  display:inline-block;
}
.hostel_image{
  width:350px;
  height:250px;
  margin-right:30px;
  float:left;
}
.hotel_info{
  list-style: none;
  margin-top:20px;
  floar:left;
  font-weight: 550;
}
.hotel_spacing{
  margin-top:50px;
}
.contact-font{
  color:black;
  font-size:20px;
}

//検索ボタン
.form4{
position:relative;
max-width:300px;	
margin-bottom:20px;
}
.sbox4{
height:50px;
width:260px;
padding:9px 10px; 
position:absolute; 
left:0;
top:0; 
border-radius:25px;
outline:0;
background:#eee;
}
.sbtn4{
height:40px;
width:50px;	
position:absolute; 
left:220px; 
top:0;
background:#008080;
color:#fff;
border:none;
border-radius:0 25px 25px 0;
}
.sbtn4 .fa-search{
font-size:20px;	
position:absolute;
top:30%;
left:30%;	
}
.sbtn4:hover{
color:#FFFF99;
}
.sbtn4:active{
	 box-shadow:none;
	 top:7px;
}

.search_condition{
  margin-top:75px;
}

.map_image{
  padding-left:10px;
  color:white;
  
}
.map_image:hover {
  font-weight: bold;
  color: black;
  
}
.icon_form{
  margin-left: 35px;
  font-size: 10px;
  display: inline-block;
  width: auto;
  padding: 8px 15px 8px 15px;
  font-family: "Lato","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: bold;
  background-color:#978029;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  text-align: center;
  color:white;
  border: 0px solid #978029;
  transition: all 0.2s ease;
}

.lodge_page{
  margin-top: 100px;
  margin-left: 150px;
  width: 1300px;
  margin-bottom: 0px;
}

.icon-btn-liked {
  color: red;
  margin-right: 5px;
}

.icon-btn-not-like {
  color: #CCCCCC;
  margin-right: 5px;
}

.heart-icon{
  padding-left: 1105px;
  position: relative;
}
.icon_main{
  margin-bottom: 5px;
}
.icon1{
  padding-left: 1055px;
}
.fa-instagram-square{
  position: absolute;
  font-size: 20px;
  color: #FF33CC;
  z-index: 1;
}
.icon2{
  padding-left: 1080px;
}
.fa-facebook-square{
  position: absolute;
  font-size: 20px;
  color: blue;
  z-index: 1;
}
