<footer class="footer">
  <small>
    The <a href="https://336e017dd6bd4456a1e97e9a649459f8.vfs.cloud9.ap-northeast-1.amazonaws.com/">Lodgers stay</a>
    by <a href="#">Lodgers.inc</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.yadoyadaigaku.com/news/index/index.html">News</a></li>
    </ul>
  </nav>
</footer>